@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: local("Nunito Variable"), local("Nunito"), local("Arial");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Nunito", ui-sans-serif, system-ui, sans-serif;
}
